<%= form_for post, remote: true do |f| %>
  <div class="post-form-errors">
    <% if post.errors.any? %>
      <%= render "shared/error_messages", object: post %>
    <% end %>
  </div>
  <div class="field">
    <label>用語: </label>
    <%= f.text_field :title, placeholder: "Enter your title of post",
                     class: "form-control title" %>
  </div>
  <div class="field">
    <label>イメージ: </label>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <label>カテゴリー: </label>
    <%= f.select :category_id, categories.map{|category|
      [category.name, category.id]}, {}, class: "form-control" %>
  </div>

  <div class="field">
    <label>概要: </label>
    <%= f.text_field :summary, placeholder: "Enter your summary of post",
                     class: "form-control title" %>
  </div>
  <div class="field">
    <label>Tags: </label>
    <%= f.collection_select :tag_ids, Tag.all, :id, :title,
          {}, {multiple: true, size: 1, class:"select-tags form-control pmd-select2-tags",
          data: {placeholder: t("post_create.choose_tags")}} %>
  </div>
  <div class="field">
    <label>詳細な説明: </label>
    <%= f.text_area :content, class: "editable form-control" %>
  </div>
  <div class="field">
    <label>利用例: </label>
    <%= f.text_area :example, class: "editable form-control" %>
  </div>
  <div class="actions">
    <%= link_to "Cancel" , root_path,
                class: "btn btn-danger btn-cancel-post" %>
    <%= f.submit "Post", class: "btn btn-primary btn-submit-post" %>
  </div>
  <div class="clearfix"></div>
<% end %>

<!-- Propeller Select2 -->
<script type="text/javascript">
  $(document).ready(function() {
    <!-- Select Multiple Tags -->
    $(".select-tags").select2({
      tags: false,
      theme: "bootstrap",
    })
  });
</script>
