<div class="container">
  <div class="card-title d-flex justify-content-center">
    用語に関連する話
  </div>  
</div>
<section class="cards-wrapper">
  <% recommend_posts.each do |post| %>
    <div class="card-grid-space">
      <a class="card" href="/posts/<%= post.slug %>" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
        <div>
          <h1><%= post.title %></h1>
          <p><%= post.content.truncate(30) %></p>
          <div class="date"><%= post.created_at.strftime("%B %d %Y") %></div>
          <div class="tags">
            <% post.tags.limit(Settings.load_recommend_posts).each do |t| %>
              <div class="tag"><%= (t.title).upcase %></div>
            <% end %>
            
          </div>
        </div>
      </a>
    </div>
  <% end %>
</section>
