<!--Title, Media, and Action area -->
<div class="pmd-card pmd-card-media-inline pmd-z-depth">

  <!-- Card media -->
  <div class="pmd-card-media">
    <!-- Card media heading -->
    <%= render "bookmarks/bookmark_icon", post: post %><br>
    <div class="media-body">
      <h2 class="pmd-card-title-text">
        <%= link_to(post.title, post) %>
      </h2><br>
      <%= render "posts/post_tag", post: post %>
      <span class="pmd-card-subtitle-text">
        <p><%= (post.content).truncate(100) %></p>
      </span>
      <p class="post-meta">Posted by <a href="https://sun-asterisk.com/"><%= post.user.name %></a> on <%= post.created_at.strftime("%B %d %Y") %></p>
    </div>

    <!-- Card media image -->
    <% if post.image.present? %>
      <div class="media-right media-middle">
        <a href="javascript:void(0);">
          <img width="152" height="152" src=<%= post.image %>>
        </a>
      </div>
    <% end %>
  </div>
  <% if current_user && current_user == post.user %>
    <%= render "posts/post_action", post: post %>
  <% end %>
</div>
