<!--Title, Media, and Action area -->
<div class="pmd-card pmd-card-media-inline pmd-z-depth">
  <!-- Card media -->
  <div class="pmd-card-media">
    <!-- Card media heading -->
    <div class="media-body">
      <h2 class="pmd-card-title-text">
        <%= link_to(post.title, post) %>
      </h2>
      <br>
      <span class="pmd-card-subtitle-text">
        <p><%= truncate(strip_tags(post.content), length: 300) %></p>
      </span>
      <p class="post-meta">Posted by <a href="https://github.com/letattung">Kai</a> on <%= post.created_at %></p>
    </div>

    <!-- Card media image -->
    <div class="media-right media-middle">
      <a href="javascript:void(0);">
        <img width="152" height="152" src=<%= post.image_url %>>
      </a>
    </div>
  </div>
  <% if current_user && current_user == post.user %>
    <%= render "post_action", post: post %>
  <% end %>
</div>
