<div style="width: 810px; margin: 0 auto;">
  <div class="bacon-blog-post bacon-shadow">
    
    <div class="bacon-blog-post-inner">
      <h2><%= @post.title %></h2><br>

      <img src=<%= @post.image %> class="wp-post-image">
      <h3><%= @post.summary %></h3>
      <p><%= @post.content %></p>
      <% if current_user && current_user == @post.user %>
        <div class="post-actions">
          <%= render "posts/post_action", post: @post %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "posts/post_card", post: @post %>
