<div style="width: 810px; margin: 0 auto;">
  <div class="bacon-blog-post bacon-shadow">
    <div class="bacon-blog-post-inner">
      <%= render "bookmarks/bookmark_icon", post: @post %><br>
      <h2><%= @post.title %></h2><br>
      <%= render "posts/post_tag", post: @post %><br>
      <img src=<%= @post.image %> class="wp-post-image">
      <h3><%= @post.summary %></h3>
      <p><%= @post.content %></p>
      <% if user_signed_in? %>        
        <div class="post-actions">
          <%= render "posts/post_detail_action", post: @post, memo: @memo %>
        </div>
        <hr>
        <div id="memo-form" class="collapse">
          <%= render "memos/form", memo: @memo, post: @post %>
        </div>
        <div id="memo-show" class=<% if !@memo.new_record? %> "collapse.in" <% else %> "collapse" <% end %>>
          <%= render("memos/show", memo: @memo) if !@memo.new_record? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "posts/post_card", recommend_posts: @recommend_posts %>
