<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/"><%= t("app_title") %></a>
    </div>
    <div class="navbar-header header-search col-md-5">
      <%= form_tag searches_path, method: :get, class: "form-search" do %>
        <span>
          <%= text_field_tag :search, params[:search], autocomplete: :off,
            placeholder: t("search"), class: "form-control posts-search",
            id: "posts-search" %>
        </span>
      <% end %>
      <span class="search-results">
        <ul class="results">
        </ul>
      </span>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% @categories.each do |category| %>
          <li>
            <%= link_to(category.name, category) %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Write post", new_post_path %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path,
                        method: :delete %>
          </li>
        <% else %>
          <li>
            <a onclick="showModal()">Login</a>
          </li>
        <% end %>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<script>
    function showModal() {
        $('#form-login-modal').html('<%= j render "devise/sessions/form_modal" %>');
        $('#form-login-modal').modal('show');
    }
</script>
